*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tictactoe {
    width: 61.84rem;
    height: 41.44rem;
    background-color: red;
}



.tictactoe__scoreboard {

}
.tictactoe__score {

}
.tictactoe__score--player {

}
.tictactoe__score--computer {

}